/*
Copyright © 2021-2022 Jakub Mrozowski (MroziuOfficial) <kubamaciekm22@gmail.com>
ServerFrost Homepage v0.3
This file is part of serverfrost-homepage (https://github.com/MroziuOfficial/serverfrost-homepage)
GNU General Public License v3 (GPL-3)
*/

/*.css-selector {
    background: linear-gradient(270deg, #9d10dd, #dd1033, #19c0d2);
    background-size: 600% 600%;

    -webkit-animation: BackgroundTheme 40s ease infinite;
    -moz-animation: BackgroundTheme 40s ease infinite;
    -o-animation: BackgroundTheme 40s ease infinite;
    animation: BackgroundTheme 40s ease infinite;
}*/

@-webkit-keyframes BackgroundTheme {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes BackgroundTheme {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes BackgroundTheme {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes BackgroundTheme {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@font-face {
    font-family: "MuseoRegular";
    src: url("../fonts/MuseoSansForDell-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Museo300";
    src: url("../fonts/MuseoSansForDell-300.otf") format("opentype");
}

/*@keyframes BackgroundTheme {
    0%{background-position: 0% 83%}
    50%{background-position: 100% 17%}
    100%{background-position: 0% 83%}
}*/

body {
    color: #e6ebe7;
    margin: 0;
    font-family: MuseoRegular;
    letter-spacing: 0px;
}

.background_container {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #9d10dd, #dd1033, #19c0d2);
    background-size: 600% 600%;
    -webkit-animation: BackgroundTheme 40s ease infinite;
    -moz-animation: BackgroundTheme 40s ease infinite;
    -o-animation: BackgroundTheme 40s ease infinite;
    animation: BackgroundTheme 40s ease infinite;
    /*background: linear-gradient(270deg, #591aa3, #0b6e0e);
    background-size: 400% 400%;
    animation: BackgroundTheme 40s ease infinite;*/
}

.main_content {
    padding: 0px;
}

.header {
    padding-top: 20px;
    font-size: 10vw;
    text-align: center;
    font-weight: bold;
}

.main_text {
    font-size: 3.2vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.navigation {
    overflow: hidden;
    background-color: #666666;
    opacity: 0.4;
    display: flex;
}

.navi_left {
    float: left;
    flex: 1;
    display: flex;
}

.navi_left > a {
    background-color: #666666;
    display: block;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    transition: all 0.3s;
    word-break: break-word;
    font-family: Museo300;
    color: #ffffff;
    font-size: 15px;
}

.navi_left > a:hover {
    background-color: #ffffff47;
    color: #000000;
    transition: all 0.3s;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 15px;  
    border: none;
    outline: none;
    color: white;
    padding: 12px 14px;
    background-color: inherit;
    font-family: Museo300;
    margin: 0;
    transition: all 0.3s;
}
  
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ffffff47;
    color: black;
    transition: all 0.3s;
}
  
.dropdown-content {
    opacity: 5.5;
    display: none;
    position: absolute;
    background-color: #666666;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Museo300;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ffffff47;
    color: #000000;
    transition: all 0.3s;
}
  
.show {
    display: block;
    transition: all 0.3s;
}

.navi_right {
    float: right;
}

.navi_right > a {
    background-color: #666666;
    display: block;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    transition: all 0.3s;
    font-family: Museo300;
    color: #ffffff;
    font-size: 15px;
}

.navi_right > a:hover {
    background-color: #ffffff47;
    color: #000000;
    transition: all 0.3s;
}

.footer {
    overflow: hidden;
    background-color: #666666;
    opacity: 0.4;
    text-decoration: none;
    text-align: left;
    position: fixed;
    font-family: MuseoRegular;
    font-style: italic;
    bottom: 0;
    width: 100%;
    padding-left: 14px;
}

@media screen and (min-width: 460px) {
    .header {
        font-size: 40px;
    }

    .main_text {
        font-size: 18px;
    }

    .dropdown .dropbtn {
        padding: 14px 16px;
        font-size: 16px;
    }

    .navi_left > a {
        padding: 14px 16px;
        font-size: 16px;
    }

    .navi_right > a {
        padding: 14px 16px;
        font-size: 16px;
    }
}

/* www.gradient-animator.com */
